<div id="footer">
  <p class="btn btn-info black">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="btn btn-info black btn-center">@Html.ActionLink("Clients", "Index", "Clients")</p>
  <p class="btn btn-info black">@Html.ActionLink("Stylists","Index", "Stylists")</p>
</div>