h1 {
  text-align: center;
}

.black>a {
  color: black !important;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction:column;
}

.PageAction {
  position: fixed;
  top:1vh;
  left:1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PageAction>* {
  margin-left:10px;
}

.TableContainer {

}

.TableHeader {
  border: 2px solid rgb(113, 160, 255);
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(152, 186, 248);
}

.TableEntry {
  border: 2px solid rgb(113, 160, 255);
  background-color: rgb(211, 226, 255);
  margin-top: 5px;
  height:2em;
}

.TableFooter {
  margin-top: 5px;
  border: 2px solid rgb(113, 160, 255);
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(152, 186, 248);
  height:2em;
}

.TableButton>* {
  background-color: rgb(152, 186, 248);
  height: 2em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.TableButton>*:hover {
  background-color: rgb(105, 127, 168);
}

body {
  margin-left:5vw;
  margin-right: 5vw;
  width:90vw;
}

#footer {
  position: absolute;
  bottom:0;
}