@{
  Layout = "_Layout";
}

<h1>Eau Claire Hair Salon</h1>

<div class="btn-center">
  <p class="btn btn-info black btn-center">@Html.ActionLink("See all stylists", "Index", "Stylist")</p>
  <p class="btn btn-info black btn-center">@Html.ActionLink("See all clients", "Index", "Client")</p>
</div>