@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h2>Are you sure you want to remove @Model.Name ?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger"/>
}

<button class="btn btn-info black">@Html.ActionLink("Back to Client", "Details", new {id = Model.StylistId})</button>