@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<button class="btn btn-info black">@Html.ActionLink("Cancel","Index", new {id = Model.ClientId})</button>
<h2>Are you sure you want to remove @Model.Name ?</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger btn-center"/>
}